* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* SECCIÓN 1 */
/* MOBILE SCREEN */
.background-header {
  width: 100%;
  height: 250px; /* Ajusta la altura según tus necesidades */
  background: linear-gradient(40deg, #ef008f, #ffba27, #6ec3f4, #7038ff);
  position: absolute;
  background-size: 150% 150%;
  background-repeat: no-repeat;
  animation-name: mybackground;
  animation-duration: 13s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  transform: skewY(-8deg); /*Inclina el contenedor*/
  transform-origin: 0;
  z-index: -1;
}
.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 10px 30px 0 0;
}
.swipe {
  margin-left: 20px;
}
.menulist,
.botonppal {
  display: none;
}
.section-container_baner {
  width: 100%;
  margin-top: 70px;
  display: flex;
}
.content-section_payments {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.payments-title {
  width: 100%;
  font-size: 35px;
  font-weight: 600;
}
.payments-paragraph {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin: 45px 0px;
  width: 100%;
}
.payments-buttons_container {
  display: flex;
  align-items: center;
  gap: 15px;
}
.button-start,
.button-end {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  letter-spacing: 1.25px;
  font-weight: bold;
  border: none;
  border-radius: 26px;
  padding: 8px 13px;
  background-color: transparent;
}
.button-start {
  background-color: rgb(10, 37, 64);
  color: #fff;
}
.button-end {
  color: rgb(112, 0, 255);
  padding: 0px;
}
.img-hero {
  display: none;
}
.logosimg {
  padding-top: 60px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.sponsors-logo {
  width: 140px;
}
.unified-section_2 {
  width: 100%;
  margin-top: 60px;
}
.section-container {
  width: 100%;
  padding: 0px 16px;
}
.unified-paragraph {
  margin: 30px 0;
  padding-top: 40px;
  color: #6962f7;
}
.payment-products_title {
  width: 100%;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 1px;
  line-height: 43px;
  margin-bottom: 45px;
}
.one-paragraph,
.two-paragraph {
  width: 100%;
  margin: 16px 0 35px;
  line-height: 25px;
}
.purple-font {
  text-decoration: none;
  font-weight: bold;
  color: #6962f7;
  cursor: pointer;
}
.button-start_now {
  margin: 16px 0;
  padding: 7px 14px;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 20px;
  background-color: #6962f7;
}
.images {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 50px 16px 0px;
  gap: 0 25px;
}
.card-phone {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 35px;
}
.credit-card {
  width: 100%;
  border-radius: 20px;
}
.phone {
  width: 100%;
}
.invoice-dash {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.invoice {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 20px;
}
.dash {
  width: 100%;
  border-radius: 20px;
}

@media (min-width: 550px) {
  .menu {
    padding: 10px 40px 0px 0px;
  }
  .img-hero {
    display: flex;
    width: auto;
    height: 350px;
  }
  .logosimg {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    justify-content: center;
  }
  .sponsors-logo {
    width: 140px;
  }
  .card-phone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    gap: 15px;
  }
  .invoice-dash {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .credit-card {
    height: 100%;
    border-radius: 40px;
  }
  .phone {
    height: 100%;
  }
  .invoice {
    height: 100%;
    margin-bottom: 30px;
    border-radius: 20px;
  }
  .dash {
    height: 100%;
    border-radius: 20px;
  }
}
/* TABLET */
@media (min-width: 768px) {
  .background-header {
    height: 220px; /*Ajusta la altura según tus necesidades */
    transform: skewY(-7deg); /*Inclina el contenedor*/
  }
  .menu {
    padding: 10px 40px 0px 0px;
  }
  .img-hero {
    display: flex;
    width: auto;
    height: 400px;
  }
  .sponsors-logo {
    width: 160px;
  }
  .material-symbols-outlined {
    display: none;
  }
  .menulist {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0px 30px;
    list-style: none;
  }
  .botonppal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 20px;
  }
  .letter {
    color: white;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
  }
  .payment-products_title {
    width: 50%;
    font-size: 33px;
  }
  .two-column {
    width: 100%;
    display: flex;
    gap: 50px;
  }
  .col-left,
  .col-right {
    width: 49%;
  }
  .credit-card {
    height: 100%;
    margin-bottom: 15px;
    border-radius: 40px;
  }
  .phone {
    height: 100%;
  }
  .invoice {
    height: 100%;
    margin-bottom: 35px;
    border-radius: 20px;
  }
  .dash {
    height: 100%;
    border-radius: 20px;
  }
}

/* DESKTOP SCREEN */
@media (min-width: 1024px) {
  .background-header {
    height: 430px; /* Ajusta la altura según tus necesidades */
    transform: skewY(-9deg); /* Inclina el contenedor */
  }

  .letter {
    color: white;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
  }
  .letter:hover {
    text-decoration: underline;
  }
  .botonppal {
    width: 10%;
  }
  .botonppal:hover {
    cursor: pointer;
    background: rgba(252, 250, 250, 0.5);
  }
  .payments-title {
    font-size: 65px;
  }
  .payments-paragraph {
    font-size: 20px;
    margin-top: 45px;
  }
  .button-start:hover {
    cursor: pointer;
    background: rgba(10, 37, 64, 0.7);
  }
  .animation-arrow:hover > .arrow {
    transform: translate(7px);
    transition: transform 0.25s ease;
  }
  .button-end:hover {
    cursor: pointer;
    color: rgb(112, 0, 255);
    opacity: 0.8;
  }
  .img-hero {
    width: auto;
    height: 600px;
  }
  .sponsors-logo {
    width: 200px;
  }
  .payment-products_title {
    width: 50%;
  }
  .two-column {
    width: 100%;
    display: flex;
    gap: 50px;
  }
  .col-left,
  .col-right {
    width: 49%;
  }
  .purple-font {
    text-decoration: none;
    color: #6962f7;
    font-weight: bold;
    cursor: pointer;
  }
  .purple-font:hover {
    color: rgb(68, 92, 112);
  }
  .button-start_now {
    cursor: pointer;
  }
  .button-start_now:hover {
    background: rgb(68, 92, 112);
  }
  .button-start_now:hover > .arrow-two {
    transform: translate(7px);
    transition: transform 0.25s ease;
  }

  .card-phone {
    width: 38%;
    display: flex;
    flex: 0 0 auto;
  }
  .invoice-dash {
    width: 100%;
    padding-left: 30px;
  }
  .credit-card {
    height: 100%;
    margin-bottom: 15px;
    border-radius: 20px;
  }
  .phone {
    height: 100%;
  }
  .invoice {
    height: 100%;
    margin-bottom: 35px;
    border-radius: 20px;
  }
  .dash {
    height: 100%;
    border-radius: 20px;
  }
  .images {
    width: 100%;
    display: flex;
    padding: 50px 16px 0px;
    gap: 0;
  }

  .general-container,
  .unified-section_2,
  .designed {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 70px;
  }
}
/* PANTALLAS MAS GRANDES */
@media (min-width: 1365px) {
  .background-header {
    height: 474px; /* Ajusta la altura según tus necesidades */
    transform: skewY(-8deg); /*Inclina el contenedor*/
  }
  .purple-font {
    text-decoration: none;
    color: #6962f7;
    font-weight: bold;
    cursor: pointer;
  }
  .purple-font:hover {
    color: rgb(68, 92, 112);
  }
}
/* ANIMATION BACKGROUND */
@keyframes mybackground {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
